name: Documentation
on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/setup-uv@7
        with:
          enable-cache: true
          save-cache: true
          prune-cache: true
      - run: uv pip sync
      - run: zensical build --clean
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - uses: actions/deploy-pages@v4
        id: deployment
